<!DOCTYPE html>
<html lang="ru">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" th:href="@{/css/index_style.css}">
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"
		  integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	<link rel="shortcut icon" th:href="@{/img/Logo.png}" type="image/x-icon">
	<title>Интернет магазин</title>
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="general_div ody foo">

	<nav class="navbar navbar-expand-md navbar-dark bg-dark" aria-label="Fourth navbar example">
		<div class="container-fluid" >
			<a class="navbar-brand" href="#"></a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04"
					aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarsExample04">
				<ul class="navbar-nav me-auto mb-2 mb-md-0">
					<li class="nav-item">
						<a class="nav-link" href="/auth/index1">Главная </a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/product">Каталог товаров</a>

					<li class="nav-item">
						<a class="nav-link" href="/auth/about">О нас</a>
					</li>

				</ul>
				<a class="navbar-nav   mb-2 mb-md-0 nav-item nav-link pra" href="/auth/login">Авторизация</a>
			</div>
		</div>
	</nav>

	<div class="about dy">
	<H3>Проект итоговый: Spring + bootstrap + js + HTML and CSS</H3>
	<h4>01-20 декабрь 2022</h4>

	<p><b>Что нибудь то сюда добавлю, если времени хватит, а пока смотрим видео.</b>
	<div class="con">
		<iframe  width="560" height="315" src="https://www.youtube.com/embed/f1n9-TYCD-4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
		<br>
	<p><b>«Студент»</b> – Фуллстек.

		<br>
		<hr>
		<footer>
			<p ><strong>Учебный сайт «Shop»</strong></p>
			<p>&copy; Uzdenov 2022</p>
		</footer>
	</div>
</div>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/script.js}"></script>
</body>
</html>